examples/2-beyond-the-basics/using-multiple-models.json
[
    {
        "id": "c85d6fc6.073c8",
        "type": "tab",
        "label": "Using Multiple Models",
        "disabled": false,
        "info": "This flow uses the [object-detector](https://developer.ibm.com/exchanges/models/all/max-object-detector/) and [image-caption-generator](https://developer.ibm.com/exchanges/models/all/max-image-caption-generator/) deep learning models from the Model Asset Exchange to display bounding boxes on an input image, then displays a generated caption. Refer to the model documentation for information about the returned messages.\n\nInstall the following three modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n - [node-red-contrib-image-output](https://npmjs.org/package/node-red-contrib-image-output)\n \n> Note: The object-detector and image-caption-generator nodes have been pre-configured to use hosted model evaluation instances. We recommend using your own local or cloud instance for purposes other than evaluation.\n\nTo adjust the size of the image output in this flow, double-click the **Image output** node. Image width is set to 300px by default."
    },
    {
        "id": "21299efc.027202",
        "type": "debug",
        "z": "c85d6fc6.073c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1156,
        "y": 140,
        "wires": []
    },
    {
        "id": "749ca183.2c516",
        "type": "object-detector",
        "z": "c85d6fc6.073c8",
        "service": "94e51296.226d3",
        "method": "predict",
        "passthrough": true,
        "annotated_input": true,
        "predict_body": "",
        "predict_bodyType": "str",
        "predict_threshold": "0.7",
        "predict_thresholdType": "str",
        "name": "",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "3c7b9a30.a37726",
                "982c6b4a.83d268"
            ]
        ]
    },
    {
        "id": "3f7754d6.450b7c",
        "type": "fileinject",
        "z": "c85d6fc6.073c8",
        "name": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "749ca183.2c516"
            ]
        ]
    },
    {
        "id": "c6d9271a.9f1638",
        "type": "camera",
        "z": "c85d6fc6.073c8",
        "name": "",
        "x": 130,
        "y": 234,
        "wires": [
            [
                "749ca183.2c516"
            ]
        ]
    },
    {
        "id": "58d91743.9557b8",
        "type": "comment",
        "z": "c85d6fc6.073c8",
        "name": "Display bounding boxes on an input image using the object-detector node, then pass the input to the image-caption-generator to display a generated caption.",
        "info": "This flow uses the [object-detector](https://developer.ibm.com/exchanges/models/all/max-object-detector/) and [image-caption-generator](https://developer.ibm.com/exchanges/models/all/max-image-caption-generator/) deep learning models from the Model Asset Exchange to display bounding boxes on an input image, then displays a generated caption. Refer to the model documentation for information about the returned messages.\n\nInstall the following three modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n - [node-red-contrib-image-output](https://npmjs.org/package/node-red-contrib-image-output)\n \n> Note: The object-detector and image-caption-generator nodes have been pre-configured to use hosted model evaluation instances. We recommend using your own local or cloud instance for purposes other than evaluation.",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "734d61db.26efc",
        "type": "image",
        "z": "c85d6fc6.073c8",
        "name": "",
        "width": "300",
        "x": 774.5,
        "y": 240,
        "wires": []
    },
    {
        "id": "3c7b9a30.a37726",
        "type": "function",
        "z": "c85d6fc6.073c8",
        "name": "Extract Bounding Box Image Data",
        "func": "// if the incoming message contains the annotated image\n// send it to the image output node to display\n\nmsg.payload = msg.annotatedInput;\nif (msg.payload) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 479.5,
        "y": 240,
        "wires": [
            [
                "734d61db.26efc"
            ]
        ]
    },
    {
        "id": "15a109d.d83fdf6",
        "type": "image-caption-generator",
        "z": "c85d6fc6.073c8",
        "service": "82a87cae.a2fec",
        "method": "predict",
        "predict_body": "",
        "predict_bodyType": "str",
        "name": "",
        "x": 901.5,
        "y": 140,
        "wires": [
            [
                "21299efc.027202"
            ]
        ]
    },
    {
        "id": "982c6b4a.83d268",
        "type": "function",
        "z": "c85d6fc6.073c8",
        "name": "Extract Input Image Data",
        "func": "// if the incoming message contains the input image\n// send it to the image-caption-generator node\n// for further processing\n\nmsg.payload = msg.inputData;\nif (msg.payload) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 609,
        "y": 140,
        "wires": [
            [
                "15a109d.d83fdf6"
            ]
        ]
    },
    {
        "id": "fba399f2.69a038",
        "type": "comment",
        "z": "c85d6fc6.073c8",
        "name": "To adjust the size of the preview image, double-click the \"Image output\" node",
        "info": "By default, the image width is set to 300px.",
        "x": 310,
        "y": 77,
        "wires": []
    },
    {
        "id": "94e51296.226d3",
        "type": "object-detector-service",
        "z": "",
        "host": "https://max-object-detector.codait-prod-41208c73af8fca213512856c7a09db52-0000.us-east.containers.appdomain.cloud",
        "name": "cloud"
    },
    {
        "id": "82a87cae.a2fec",
        "type": "image-caption-generator-service",
        "z": 0,
        "host": "https://max-image-caption-generator.codait-prod-41208c73af8fca213512856c7a09db52-0000.us-east.containers.appdomain.cloud",
        "name": "cloud"
    }
]