examples/1-getting-started/object-detector.json
[
    {
        "id": "139602c0.ce5c8d",
        "type": "tab",
        "label": "Object detection example flow",
        "disabled": false,
        "info": "This flow uses the https://developer.ibm.com/exchanges/models/all/max-object-detector/ deep learning model from the Model Asset Exchange to localize and identify multiple objects in a single image. Refer to the documentation for information about the returned message.\n\nInstall the following three modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n - [node-red-contrib-image-output](https://npmjs.org/package/node-red-contrib-image-output)\n \n> Note: The object-detector node has been pre-configured to use a hosted model evaluation instance. We recommend using your own local or cloud instance for purposes other than evaluation.\n\nTo adjust the size of the image output in this flow, double-click the **Image output** node. Image width is set to 300px by default."
    },
    {
        "id": "a1293bd8.418448",
        "type": "debug",
        "z": "139602c0.ce5c8d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "f596981b.ed9368",
        "type": "object-detector",
        "z": "139602c0.ce5c8d",
        "service": "594e4ad2.a17944",
        "method": "predict",
        "passthrough": false,
        "annotated_input": true,
        "predict_body": "",
        "predict_bodyType": "str",
        "predict_threshold": "0.7",
        "predict_thresholdType": "str",
        "name": "",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "a1293bd8.418448",
                "ea4eeb9c.24b4f8"
            ]
        ]
    },
    {
        "id": "349ab2c1.15dc1e",
        "type": "fileinject",
        "z": "139602c0.ce5c8d",
        "name": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "f596981b.ed9368"
            ]
        ]
    },
    {
        "id": "e468264a.e47008",
        "type": "camera",
        "z": "139602c0.ce5c8d",
        "name": "",
        "x": 110,
        "y": 198,
        "wires": [
            [
                "f596981b.ed9368"
            ]
        ]
    },
    {
        "id": "37b11dcf.5010e2",
        "type": "comment",
        "z": "139602c0.ce5c8d",
        "name": "Localize and identify multiple objects in a single image, then display the output",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "13f86581.2e775a",
        "type": "image",
        "z": "139602c0.ce5c8d",
        "name": "",
        "width": "600",
        "x": 650.5,
        "y": 198,
        "wires": []
    },
    {
        "id": "ea4eeb9c.24b4f8",
        "type": "function",
        "z": "139602c0.ce5c8d",
        "name": "Extract Bounding Box Image Data",
        "func": "// if the incoming message contains the annotated image\n// send it to the image output node to display\n\nmsg.payload = msg.annotatedInput;\nif (msg.payload) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 399.5,
        "y": 198,
        "wires": [
            [
                "13f86581.2e775a"
            ]
        ]
    },
    {
        "id": "b9fb347f.0c46d8",
        "type": "comment",
        "z": "139602c0.ce5c8d",
        "name": "To adjust the size of the preview image, double-click the \"Image output\" node",
        "info": "By default, the image width is set to 300px.",
        "x": 310,
        "y": 77,
        "wires": []
    },
    {
        "id": "594e4ad2.a17944",
        "type": "object-detector-service",
        "z": "",
        "host": "https://max-object-detector.max.us-south.containers.appdomain.cloud",
        "name": "cloud"
    }
]